{# Test runs that need to run a full period #}

{% if TEST_PE %}
        R1 = """
                    atmos_main[^]:submit => atmos_lrun & atmos_pe
                    atmos_lrun & atmos_pe => rose_ana_pe?
                    rose_ana_pe:finish => housekeeping
                    """
{% endif %}

{% if TEST_OMP %}
        R1 = """
                    atmos_main[^]:submit => atmos_lrun & atmos_omp
                    atmos_lrun & atmos_omp => rose_ana_omp?
                    rose_ana_omp:finish => housekeeping
                    """
{% endif %}

{% if TEST_NOOMP %}
  {% if SITE in SINGLE_FCMUM %}
    {% set NOOMP_FCMUM_GRAPH = 'fcm_make_um_noomp' %}
  {% else %}
    {% set NOOMP_FCMUM_GRAPH = 'fcm_make_um_noomp => fcm_make2_um_noomp' %}
  {% endif %}
    [[graph]]
        R1 = """
  {% if L_REMOTE_SETUP %}
    {{ 'remote_setup => fcm_make_um_noomp' if TASK_BUILD_UM else '' }}
  {% endif %}
                    {{ NOOMP_FCMUM_GRAPH + ' => atmos_noomp' if TASK_BUILD_UM else '' }}
                    atmos_main[^]:submit => atmos_lrun & atmos_noomp
                    atmos_lrun & atmos_noomp => rose_ana_noomp?
                    rose_ana_noomp:finish => housekeeping
             """
{% endif %}

{% if TEST_INCS %}
        R1 = """
                    atmos_main[^]:submit => atmos_lrun & atmos_incs
                    atmos_lrun & atmos_incs => test_inc_budget => rose_ana_incs?
                    rose_ana_incs:finish => housekeeping
                    """
{% endif %}

{% if TEST_NOSTASH %}
        R1 = """
                    atmos_main[^]:submit => atmos_lrun & atmos_nostash
                    atmos_lrun & atmos_nostash => rose_ana_nostash?
                    rose_ana_nostash:finish => housekeeping
                    """
{% endif %}

{# Test runs that need to run a shorter resubmission period #}
{# This should be the dump frequency in the UM job          #}

{% if TEST_CRUN %}
        R1 = atmos_main[^]:submit => atmos_lrun & atmos_crun &atmos_nrun
        R3//{{NCRUN_RESUB}} = """
                    atmos_crun[-{{NCRUN_RESUB}}] => atmos_crun
                    atmos_lrun[^] & atmos_crun & atmos_nrun => rose_ana_crun?
                    rose_ana_crun:finish => housekeeping
                    """
{% endif %}

{% if TEST_NRUN %}
        R1 = atmos_main[^]:submit => atmos_nrun
        R3//{{NCRUN_RESUB}} = """
                    atmos_nrun[-{{NCRUN_RESUB}}] => atmos_nrun
                    atmos_lrun[^] & atmos_nrun => rose_ana_nrun?
                    rose_ana_nrun:finish => housekeeping
                    """
{% endif %}
