# CYLC 8 version. Want to trap failure and run optclim_um_fail
[scheduling]
  [[ graph ]]
        {# Set OptClim Pre-Processing to start before the first run #}
            R1 = optclim_pre => install_ancil

        {# Set OptClim Post-Processing to start after the last cycle #}
            R1/$ = analysis => create_json => fetch_diagnostics => optclim_post

        {# Run optclim_fail if nemo_cice fails; remove optclim_fail if it succeeds #}
        #TODO make atmos_main something variable. For coupled model will want all sub-models to succeed..
  [[ queues ]] ## Limit number of jobs running at once in a suite. No queue would, I think, limit to 3 (5 for cylc 8).
        [[[ default ]]]
            limit = 2
            # limit to two jobs running at once... No obvious way of having a limit only for serial q's.
{# Stuff for actually running the tasks #}
[runtime]
    [[OPTCLIM_HPC]]
        inherit = HPC_SERIAL
        execution time limit = PT10M
        [[[environment]]]
            DATAM = {{DATAM}}
            OPTCLIMTOP = {{OPTCLIMTOP}}

    [[optclim_pre]]
        inherit = OPTCLIM_HPC
        script = """
        date +"%Y-%m-%d %H:%M:%S.%3N"
        . {{PY_ENV_SETUP}} # setup the environment. Could be in script-pre?
        date +"%Y-%m-%d %H:%M:%S.%3N"
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} RUNNING
        """
    [[optclim_post]]
        inherit = OPTCLIM_HPC
        script = """
        date +"%Y-%m-%d %H:%M:%S.%3N"
        . {{PY_ENV_SETUP}} # setup the environment
        date +"%Y-%m-%d %H:%M:%S.%3N"
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} SUCCEEDED
        """
        ## need more time for optclim_post as could be copying lots of files
        execution time limit = PT15M
    [[optclim_fail]]
        inherit = OPTCLIM_HPC
        script = """
        . {{PY_ENV_SETUP}} # setup the environment
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} FAILED
        """
    [[create_json]]
        inherit = None, LOTUS_DIAGNOSTIC_RESOURCE
        script = "rose task-run --verbose --command-key=create_json"
        [[[environment]]]
            ROSE_TASK_APP = analysis
            ROSE_APP_OPT_CONF_KEYS =

    [[fetch_diagnostics]]
       inherit = None, FETCH_FROM_JASMIN_RESOURCE
       script = "rose task-run --verbose --command-key=fetch"
       [[[environment]]]
            ROSE_TASK_APP = analysis


