[scheduling]
  [[ dependencies ]]
        {# Set OptClim Pre-Processing to start before the first run #}
        [[[ R1 ]]]
            graph = optclim_pre => fcm_make_um

        {# Set OptClim Post-Processing to start after the last cycle #}
        [[[ R1//^+{{EXPT_RUNLEN}}-{{EXPT_RESUB}} ]]]
            graph = housekeeping => optclim_post 

        {# Run optclim_um_fail if atmos_main fails; remove optclim_um_fail if it succeeds #}
        #TODO make atmos_main something variable. For coupled model will want all sub-models to succeed..
        [[[ {{EXPT_RESUB}} ]]]
            graph = """
		atmos_main:fail => optclim_um_fail
		atmos_main => !optclim_um_fail
            """
  [[ queues ]] ## Limit number of jobs running at once in a suite. NO queue would, I think, limit to 3.
        [[[ default ]]]
            limit = 2
            # limit to two jobs running at once... No obvious way of having a limit only for serial q's.
{# Stuff for actually running the tasks #}
[runtime]
    [[OPTCLIM_HPC]]
        [[[directives]]]
	        --ntasks = 1
            --export=none
	        --partition=serial
	        --qos=serial
            --account={{ARCHER2_GROUP}}
        [[[job]]]
            batch system = slurm
            execution time limit = PT5M
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1
	        DATAM = {{DATAM}}
	        OPTCLIMTOP = {{OPTCLIMTOP}}
        [[[remote]]]
            host = $(rose host-select archer2)
{% if HPC_USER is defined %}
            owner = {{ARCHER2_USERNAME}}
{% endif %}


[runtime]
    [[optclim_pre]]
        inherit = OPTCLIM_HPC
        script = """
        . {{PY_ENV_SETUP}} # setup the environment. Could be in script-pre?
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} RUNNING
        """
    [[optclim_post]]
        inherit = OPTCLIM_HPC
        script = """
        . {{PY_ENV_SETUP}} # setup the environment
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} SUCCEEDED
        """
        [[[job]]]
          ## need more time for optclim_post as could be copying lots of files
          execution time limit = PT15M
    [[optclim_um_fail]]
        inherit = OPTCLIM_HPC
        script = """
        . {{PY_ENV_SETUP}} # setup the environment
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} FAILED
        """

[visualization]
    [[node attributes]]
        optclim_pre = fillcolor=seagreen3
        optclim_post = fillcolor=seagreen3
        optclim_um_fail = fillcolor=seagreen3

