# CYLC 8 version. Want to trap failure and run optclim_um_fail
[scheduling]
  [[ graph ]]
        {# Set OptClim Pre-Processing to start before the first run #}
            R1 = optclim_pre => fcm_make_um

        {# Set OptClim Post-Processing to start after the last cycle #}
            R1//^+{{EXPT_RUNLEN}}-{{EXPT_RESUB}} = housekeeping => optclim_post 

        {# Run optclim_um_fail if atmos_main fails; remove optclim_um_fail if it succeeds #}
        #TODO make atmos_main something variable. For coupled model will want all sub-models to succeed..
        # {{EXPT_RESUB}} =  atmos_main:fail? => optclim_um_fail # FIXME!!
  [[ queues ]] ## Limit number of jobs running at once in a suite. No queue would, I think, limit to 3 (5 for cylc 8).
        [[[ default ]]]
            limit = 2
            # limit to two jobs running at once... No obvious way of having a limit only for serial q's.
{# Stuff for actually running the tasks #}
[runtime]
    [[OPTCLIM_HPC]]
    inherit = HPC_SERIAL
    execution time limit = PT5M
    [[[environment]]]
	 DATAM = {{DATAM}}
	 OPTCLIMTOP = {{OPTCLIMTOP}}


[runtime]
    [[optclim_pre]]
        inherit = OPTCLIM_HPC
        script = """
        . {{PY_ENV_SETUP}} # setup the environment. Could be in script-pre?
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} RUNNING
        """
    [[optclim_post]]
        inherit = OPTCLIM_HPC
        script = """
        . {{PY_ENV_SETUP}} # setup the environment
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} SUCCEEDED
        """
        ## need more time for optclim_post as could be copying lots of files
        execution time limit = PT15M
    [[optclim_um_fail]]
        inherit = OPTCLIM_HPC
        script = """
        . {{PY_ENV_SETUP}} # setup the environment
        {{OPTCLIM_SET_STATUS_SCRIPT}} {{OPTCLIM_ARGS}} {{MODEL_CONFIG}} FAILED
        """


