[runtime]
    [[optclim_pre]]
        inherit = OPTCLIM_HPC
        script = "optclim_task.sh PREPROCESS"
    [[optclim_post]]
        inherit = OPTCLIM_HPC
        script = "optclim_task.sh POSTPROCESS"
    [[optclim_um_fail]]
        inherit = OPTCLIM_HPC
        script = "optclim_task.sh FAIL"


[visualization]
    [[node attributes]]
        optclim_pre = fillcolor=seagreen3
        optclim_post = fillcolor=seagreen3
        optclim_um_fail = fillcolor=seagreen3



