    [[ROSE_ANA_RESOURCE]]
        inherit = HPC_SERIAL
        pre-script = """module load anaconda
                        module list 2>&1
                     """
        [[[job]]]
            execution time limit = PT10M

    [[UMBUILD_NOOMP]]
        inherit = UMBUILD
        [[[environment]]]
            OPENMP= false

    [[ATMOS_TEST_RESOURCE]]
        inherit = ATMOS_RESOURCE
        [[[job]]]
            execution time limit = {{MAIN_CLOCK}}

    [[ATMOS_NCRUN_RESOURCE]]
        inherit = ATMOS_RESOURCE
        [[[job]]]
            execution time limit = {{NCRUN_CLOCK}}

{% set PE_APPN = PE_ATM_PPN if PE_ATM_PPN is defined else PPN %}
{% set PE_TASKS_ATM = PE_ATM_PROCX * PE_ATM_PROCY + PE_IOS_NPROC %}
{% set PE_NODE_ATM = node(PE_TASKS_ATM, PE_OMPTHR_ATM, PE_HYPTHR_ATM, PE_APPN) %}
{% set PE_TPNUMA_ATM = tpnuma(PE_OMPTHR_ATM, PE_HYPTHR_ATM, PE_APPN, NUMA) %}
    [[ATMOS_PE_RESOURCE]]
        inherit = ATMOS_TEST_RESOURCE
        [[[directives]]]
            -l select={{PE_NODE_ATM}}
        [[[environment]]]
            ROSE_LAUNCHER_PREOPTS = -ss -n {{PE_TASKS_ATM}} -cc numa_node -N {{2*(PE_TPNUMA_ATM|int)}} -S {{PE_TPNUMA_ATM}} -d {{PE_OMPTHR_ATM}} -j {{PE_HYPTHR_ATM}}

{% set OMP_APPN = OMP_ATM_PPN if OMP_ATM_PPN is defined else PPN %}
{% set OMP_TASKS_ATM = OMP_ATM_PROCX * OMP_ATM_PROCY + OMP_IOS_NPROC %}
{% set OMP_NODE_ATM = node(OMP_TASKS_ATM, OMP_OMPTHR_ATM, OMP_HYPTHR_ATM, OMP_APPN) %}
{% set OMP_TPNUMA_ATM = tpnuma(OMP_OMPTHR_ATM, OMP_HYPTHR_ATM, OMP_APPN, NUMA) %}
    [[ATMOS_OMP_RESOURCE]]
        inherit = ATMOS_TEST_RESOURCE
        [[[directives]]]
            -l select={{OMP_NODE_ATM}}
        [[[environment]]]
            ROSE_LAUNCHER_PREOPTS = -ss -n {{OMP_TASKS_ATM}} -cc numa_node -N {{2*(OMP_TPNUMA_ATM|int)}} -S {{OMP_TPNUMA_ATM}} -d {{OMP_OMPTHR_ATM}} -j {{OMP_HYPTHR_ATM}}

    [[ATMOS_NOOMP_RESOURCE]]
        inherit = ATMOS_TEST_RESOURCE
        [[[environment]]]
            ROSE_LAUNCHER_PREOPTS = -ss -n {{TASKS_ATM}} -N {{2*(TPNUMA_ATM|int)}} -S {{TPNUMA_ATM}}

    [[MULE_RESOURCE]]
        [[[environment]]]
            PYTHONPATH=${PYTHONPATH}:${UMDIR}/lib/python2.7
