{# Macro to calculate number of nodes required based on total tasks, #}
{# OpenMP threads, hyperthreads and number of cores per node #}
{%- macro node(t,o,h,pn) -%}
  {{ ((t*o)/(h*pn)) | round (0, 'ceil') | int }}
{%- endmacro -%}

{# Macro to calculate number of tasks per NUMA region on a node based on #}
{# OpenMP threads, hyperthreads and number of cores per node. #}
{%- macro tpnuma(o,h,pn) -%}
  {{ ((h*pn)/(2*o)) | round (0, 'ceil') | int }}
{%- endmacro -%}

{% set MONSOON_CORE = 'broadwell' %}
{% set APPN = 32 %}
{% set TASKS_RCF = MAIN_RCF_PROCX * MAIN_RCF_PROCY %}
{% set TASKS_ATM = MAIN_ATM_PROCX * MAIN_ATM_PROCY + MAIN_IOS_NPROC %}
{% set NODE_RCF = node(TASKS_RCF, MAIN_OMPTHR_RCF, MAIN_HYPTHR_RCF, APPN) %}
{% set NODE_ATM = node(TASKS_ATM, MAIN_OMPTHR_ATM, MAIN_HYPTHR_ATM, APPN) %}
{% set TPNUMA_RCF = tpnuma(MAIN_OMPTHR_RCF, MAIN_HYPTHR_RCF, APPN) %}
{% set TPNUMA_ATM = tpnuma(MAIN_OMPTHR_ATM, MAIN_HYPTHR_ATM, APPN) %}

{# Set up start dumps #}
{% set AINITIAL = MONSOON_AINITIAL_DIR + '/' + AINITIAL_FILE %}

    [[MONSOON_NOT_SUPPORTED]]
        script = """
            echo 'Task not supported on MONSooN' >&2
            false
        """
        [[[ job ]]]
            # No need to submit to the queue
            batch system = background

    [[RETRIES]]
        [[[job]]]
            execution retry delays = 2*PT30M, 2*PT1H, PT3H, 3*PT6H

    [[LINUX]]
        [[[environment]]]
            PLATFORM = linux
            UMDIR = ~frum
        [[[job]]]
            batch system = background
        [[[remote]]]
            host = localhost

    [[EXTRACT_RESOURCE]]
        inherit = LINUX
        [[[remote]]]
            host = $(rose host-select $ROSE_ORIG_HOST)

    [[HPC]]
        pre-script = module load cray-netcdf
        [[[directives]]]
            -W umask=0022
            {% if not MONSOON_ACCOUNT_DEFAULT %}
            -P = {{MONSOON_ACCOUNT_OTHER if MONSOON_ACCOUNT == 'other' else MONSOON_ACCOUNT}}
            {% endif %}
        [[[environment]]]
            PLATFORM = xc40
            UMDIR = /projects/um1
            CMIP6_ANCILS = /projects/ancils/cmip6/ancils
            OCEANDIR = /projects/ocean
        [[[job]]]
            batch system = pbs
            submission retry delays = 2*PT30S,PT5M,PT15M,PT30M,PT1H
        [[[remote]]]
            host = $(rose host-select xcs-c)

    [[HPC_SERIAL]]
        inherit = HPC
        [[[directives]]]
            -l ncpus=1
            -q=shared
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1

    [[HPC_SHARED6]]
        inherit = HPC
        [[[directives]]]
            -l ncpus=6
            -q=shared
        [[[environment]]]
            ROSE_TASK_N_JOBS = 6

    [[UMBUILD]]
        [[[environment]]]
            CONFIG = meto-xc40-cce
            OPENMP= true
            OPTIM = safe
            PREBUILD = 

    [[UMBUILD_RESOURCE]]
        inherit = HPC_SHARED6
        [[[directives]]]
            -l mem=6GB
        [[[job]]]
            execution time limit = PT60M

    [[STARTDUMP]]
        [[[environment]]]
            AINITIAL = {{AINITIAL}}

    [[INSTALL_RESOURCE]]
        inherit = HPC_SERIAL
        [[[job]]]
            execution time limit = PT5M

    [[UM_PARALLEL]]
        inherit = HPC
        [[[directives]]]
            -q={{MONSOON_QUEUE}}
        [[[environment]]]
            MPICH_COLL_SYNC = MPI_Gatherv
            MPICH_GNI_MAX_EAGER_MSG_SIZE = 65536
            MPICH_GNI_MAX_VSHORT_MSG_SIZE = 8192
            MPICH_MAX_THREAD_SAFETY = multiple
            OMP_STACKSIZE = 2G
            ROSE_LAUNCHER = aprun

    [[RCF_RESOURCE]]
        inherit = UM_PARALLEL
        [[[directives]]]
            -l select={{NODE_RCF}}:ncpus={{APPN}}:coretype={{MONSOON_CORE}}
        [[[environment]]]
            ROSE_LAUNCHER_PREOPTS = -ss -n {{TASKS_RCF}} -N {{2*(TPNUMA_RCF|int)}} -S {{TPNUMA_RCF}} -d {{MAIN_OMPTHR_RCF}} -j {{MAIN_HYPTHR_RCF}}
            ROSE_LAUNCHER_ULIMIT_OPTS = -s unlimited -c unlimited
        [[[job]]]
            execution time limit = PT15M

    [[ATMOS_RESOURCE]]
        inherit = UM_PARALLEL
        [[[directives]]]
            -l select={{NODE_ATM}}:ncpus={{APPN}}:coretype={{MONSOON_CORE}}
        [[[environment]]]
            ROSE_LAUNCHER_PREOPTS = -ss -n {{TASKS_ATM}} -cc numa_node -N {{2*(TPNUMA_ATM|int)}} -S {{TPNUMA_ATM}} -d {{MAIN_OMPTHR_ATM}} -j {{MAIN_HYPTHR_ATM}}
        [[[job]]]
            execution time limit = {{MAIN_CLOCK}}

    [[PPBUILD_RESOURCE]]
        inherit = HPC_SERIAL
        [[[job]]]
            execution time limit = PT5M

    [[POSTPROC_RESOURCE]]
        inherit = HPC_SERIAL, RETRIES
        pre-script = module load scitools/production_legacy-os42-1 moose-client-wrapper
        [[[environment]]]
            MOOPROJECT = {{MONSOON_MOOSE_PROJECT}}
        [[[job]]]
            execution retry delays = PT10M, PT1H, PT3H, P1D
            execution time limit = PT3H
        [[[directives]]]
            -l mem = 70GB
        [[[environment]]]
            ROSE_APP_OPT_CONF_KEYS = {{ 'duplex' if MONSOON_ARCHIVE_DUPLEX else '' }}

    [[PPTRANSFER_RESOURCE]]
        inherit = HPC_SERIAL
        pre-script = module load scitools/production_legacy-os42-1
        [[[job]]]
            execution time limit = PT1H

    [[SUPERMEAN_RESOURCE]]
        inherit = LINUX, MONSOON_NOT_SUPPORTED

    [[LOGS_RESOURCE]]
        inherit = HPC, RETRIES

    [[WALLCLOCK_RESOURCE]]
        inherit = HPC_SERIAL, RETRIES
        pre-script = module load moose-client-wrapper
        [[[job]]]
            execution time limit = PT2M

    [[HOUSEKEEP_RESOURCE]]
        inherit = LINUX
